body {
  background: #B00020;
  background-image: url("../images/banner.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  margin: 0px;
}
.transparent {
  background: transparent;
  width: 100vw;
  margin: 0 0 0 0;
}
.main_container {
  background: #B00020;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.content_container {
  background: #121212;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 3px 19px 22px black;
  border: 2px solid #f6f6f6;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title p {
  color: #f6f6f6;
  font-size: 1.5vw;
  margin: 0;
}
.title h1 {
  color: #B00020;
  font-size: 6vw;
  margin: 0;
}
.title a {
  color: #f6f6f6;
}
.section01 {
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.headshot {
  width: 30vw;
  border-radius: 30px;
  box-shadow: 0 19px 18px black, 0 15px 12px black;
  margin: 10px 10px 20px 10px;
  border: 2px solid #f6f6f6;
}
.banner {
  background: #B00020;
  text-align: center;
  border-radius: 30px;
  margin: 10px 10px 20px 10px;
  box-shadow: -10px 19px 18px black;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
  text-shadow: -1px 1px 2px #121212;
}
.reels_section {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
iframe {
  margin: 10px;
}
.resume_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.resumes {
  width: 80vw;
  height: auto;
  display: flex;
  padding: 15px;
}
.theatre, .voice {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f6f6f6;
  margin: 0px;
}
.resumes img {
  border-radius: 30px;
  box-shadow: 0 19px 18px rgba(0,0,0,1), 0 15px 12px rgba(0,0,0,1);
}




@media (min-width: 280px) {
  .transparent {
    height: 15vh;
  }
  .title p {
    font-size: 3vw;
  }
  .banner {
    width: 70vw;
    font-size: 5vw;
  }
  .section01 {
    flex-direction: column;
    align-items: center
  }
  .headshot {
    width: 60vw;
    margin: 5px;
  }
  iframe {
    width: 70vw;
    height: 50vh;
    margin: 5px;
  }
  .resumes {
    flex-direction: column;
    align-items: center;
  }
  .theatre, .voice {
    font-size: 4vw;
  }
  .resumes img {
    width: 60vw;
    margin: 5px;
  }
}
@media (min-width: 320px) {
  .transparent {
    height: 20vh;
  }
}
@media (min-width: 540px) {
  .transparent {
    height: 26vh;
  }
}
@media (min-width: 760px) {
  .transparent {
    height: 26vh;
  }
  .title h1 {
    text-shadow: -1px 1px 2px #F6F6F6;
  }
}
@media (min-width: 1024px) {
  .transparent {
    height: 26vh;
  }
  .title p {
    font-size: 1.5vw;
  }
  .banner {
    width: 95%;
    font-size: 2vw;
  }
  .section01 {
    flex-direction: row;
    justify-content: space-around;
  }
  .headshot {
    width: 36vw;
    margin: 5px;
  }
  iframe {
    width: 36vw;
    height: 15vw;
  }
  .resumes {
    flex-direction: row;
    justify-content: space-around;
  }
  .theatre, .voice {
    font-size: 2vw;
  }
  .resumes img {
    width: 36vw;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .transparent {
    height: 49vh;
  }
}
@media (min-width: 1530px) {
  .transparent {
    height: 58vh;
  }
}
