body {
  background: #121212;
  margin: 0;
  display: flex;
  justify-content: center;
}
.gradient {
  background-image: linear-gradient(#404040, #121212);
  width: 80vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 8vw;
  color: #E4E6EB;
  text-shadow: 2px 2px 4px #121212;
  margin: 20px 0 0 5px;
}
.subtitle {
  font-size: 5vw;
  color: #B3B3B3;
  text-shadow: 2px 2px 4px #121212;
  margin: 0 0 20px 0;
}
.container {
  width: 70vw;
  display: flex;
}
.page {
  color: #E4E6EB;
  border: 10px solid #E4E6EB;;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 5px;
}
.page:hover {
  box-shadow: 12px 2px 6px rgba(0, 0, 0, .8), -12px 2px 6px rgba(0, 0, 0, .8);
}
a {
  color: #E4E6EB;
  text-decoration: none;
}
.head {
  margin-bottom: 5px;
}
.acting {
  background: #B03030;
}
.ruby {
  background: #192756;
}


.resume_container {
  display: flex;
  color: #E4E6EB;
  flex-direction: column;
  margin-top: 40px;
}
.lede {
  font-size: 3vw;
  background: #B03030;
  padding: 5px;
  border-radius: 30px 30px 0 0;
  text-align: center;
}
.main_article {
  border: 5px solid #B03030;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.section {
  font-size: 3vw;
  background: #B03030;
  width: 25%;
  text-align: center;
  margin: 5px;
}
.info {
  font-size: 1.5vw;
  margin: 5px;
  padding: 5px 20px 5px 20px;
}
li {
  margin: 5px;
}

/* ///////////////////////////////////////// */

@media (min-width: 280px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .page {
    width: 80vw;
    height: 45vh;
  }
  .head {
    font-size: 6vw;
  }
  .text {
    font-size: 2vw;
  }
  .resume_container {
    width: 80vw;
  }
}
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .page {
    width: 40vw;
    height: 45vh;
  }
  .head {
    font-size: 4vw;
  }
  .text {
    font-size: 2vw;
  }
}
